.mat-form-field+.mat-form-field{margin: 12px;
padding: 15px;}

.alignleft {
    text-align: right;
  }

  .demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }